# Hidden files
.*
!.gitignore
!.gitattributes
!.github
!.readthedocs.yaml

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/doc/reference/_generated
uv.lock

# Dask
dask-worker-space/
